@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: none;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/fonts_Vazirmatn/Vazirmatn-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: none;
}

body,
button {
  font-family: "Vazir";
}
