/*reset*/

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* root variables */
:root {
  --color--primary: rgba(33, 159, 149, 1);
  --color-secondary: rgba(175, 206, 221, 1);

  --color--font--heading: rgba(30, 30, 30, 1);
  --color--font--doc: rgba(35, 72, 148, 1);
  --color--font--reqidentifier: rgba(105, 105, 105, 1);
  --color-font--white: white;
}

html {
  font-size: 62.5%;
}

h1 {
  color: var(--color--font--heading);
  font-size: 2.2rem;
  font-weight: 900;
}

h2 {
  color: var(--color--font--heading);
  font-size: 1.8rem;
  font-weight: 900;
}

.btn {
  background-color: var(--color--primary);
  color: var(--color-font--white);
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 2rem 2rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 1.6rem;
}

.badge {
  border-radius: 6px;
  border: solid var(--color-secondary);
  padding: 0.6rem 1rem;
  background: var(--color-secondary);
  color: var(--color--font--doc);
  font-size: 1.8rem;
  font-weight: 900;
  margin-left: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  margin-top: 5rem;
  margin-bottom: 8rem;
  margin-right: 1rem;
}

.request-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem 1rem;
}

.card__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.card__title {
  color: var(--color--font--doc);
  font-size: 1.6rem;
  font-weight: 600;
}

.card__detail {
  color: var(--color--font--reqidentifier);
  font-size: 1.2rem;
}

.card__user {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.card__user__image {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  border: 1px solid black;
}

.card__user__name {
  color: var(--color--font--heading);
  font-size: 1.6rem;
  font-weight: 700;
}

.card__button {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .request-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .intro {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .request-card {
    display: flex;
    flex-direction: column;
  }
  .intro {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
}
